<% content_for :header_tags do %>
  <%= javascript_include_tag 'redmine_multi_assign_memberships_tab.js', :plugin => 'redmine_multi_assign' %>
  <%= stylesheet_link_tag 'redmine_multi_assign.css', :plugin => 'redmine_multi_assign' %>
<% end %>

<% roles = Role.find_all_givable %>
<% projects = Project.active.find(:all, :order => 'lft') %>
<div class="splitcontentleft">
<% if @user.memberships.any? %>
    <%= form_for(:membership, :remote => true, :url => rma_edit_memberships_path(@user)) do %>
  <p id="rma_edit_buttons">
    <%= radio_button_tag :rma_edit_action, :delete, true %> <%= l(:label_edit_action_delete, :scope => :redmine_multi_assign) %>
    <%= radio_button_tag :rma_edit_action, :edit_roles, false %> <%= l(:label_edit_action_edit_roles, :scope => :redmine_multi_assign) %>
  </p>
  <p id="rma_edit_roles_form" style="display: none">
    <% roles.each do |role| %>
      <label><%= check_box_tag 'membership[role_ids][]', role.id %> <%=h role %></label>
    <% end %>
  </p>
<%= check_all_links("rma_memberships_table") %>
<table id="rma_memberships_table" class="list memberships">
  <thead><tr>
    <th></th>
    <th><%= l(:label_project) %></th>
    <th><%= l(:label_role_plural) %></th>
    <th style="width:15%"></th>
      <%= call_hook(:view_users_memberships_table_header, :user => @user )%>
  </tr></thead>
  <tbody>

  <% idx = 0 %>
  <% @user.memberships.each do |membership| %>
  <% next if membership.new_record? %>
  <tr id="member-<%= membership.id %>" class="<%= cycle 'odd', 'even' %> class">
  <td>
    <%= hidden_field_tag "memberships[#{idx}][id]", membership.id %>
    <%= check_box_tag "memberships[#{idx}][checked]" %>
    <% idx += 1 %>
  </td>
  <td class="project">
    <%= link_to_project membership.project %>
  </td>
  <td class="roles">
    <span id="member-<%= membership.id %>-roles"><%=h membership.roles.sort.collect(&:to_s).join(', ') %></span>
  </td>
      <%= call_hook(:view_users_memberships_table_row, :user => @user, :membership => membership, :roles => roles, :projects => projects )%>
  </tr>
  <% end; reset_cycle %>
  </tbody>
</table>

  <%= submit_tag l(:button_submit) %>
  <%  end %>
<% else %>
<p class="nodata"><%= l(:label_no_data) %></p>
<% end %>
</div>

<div class="splitcontentright">
<% if projects.any? %>
    <fieldset>
        <legend><%=l(:label_project_new)%></legend>
        <%= form_for(:membership, :remote => true, :url => rma_add_memberships_path(@user)) do %>
            <%= check_all_links("rma_projects_list") %>
            <div id="rma_projects_list">
                <% project_tree(projects) do |project, level| %>
                    <div><%= (level > 0 ? ('&nbsp;' * 2 * level + '&#187; ').html_safe : '') %><%= check_box_tag 'memberships[project_ids][]', project.id, false, :disabled => (@user.projects.include?(project)) %> <%=h project %></div>
                <% end %>
            </div>
            <p><%= l(:label_role_plural) %>:
                <% roles.each do |role| %>
                    <div><%= check_box_tag 'membership[role_ids][]', role.id %> <%=h role %></div>
                <% end %>
            </p>
            <p><%= submit_tag l(:button_add) %></p>
        <% end %>
    </fieldset>
<% end %>
</div>

